<!-- Card unificada para tabs + contenido -->
<div class="bg-white rounded-xl shadow overflow-visible relative text-[#243659] border mt-6 border-gray-200">
  <!-- Tabs integrados al borde superior -->
  <div class="flex w-full border-b border-gray-200">
    <!-- Tab: Registro -->
    <button (click)="cambiarTab('registro')"
      class="group relative flex flex-1 justify-center items-center gap-2 px-4 py-3 text-[14px] font-semibold uppercase tracking-wide transition-all duration-300"
      [ngClass]="{
				'text-[#E30512] bg-white ': activeTab === 'registro',
				'text-[#243659] hover:text-[#E30512] bg-gray-100': activeTab !== 'registro'
			}">
      <i class="pi pi-folder-plus text-[15px]"></i>
      Registro
      <span class="absolute bottom-0 left-0 w-full h-1 bg-[#E30512] rounded-t" *ngIf="activeTab === 'registro'"></span>
    </button>

    <!-- Tab: Listado -->
    <button (click)="cambiarTab('listado')"
      class="group relative flex flex-1 justify-center items-center gap-2 px-4 py-3 text-[14px] font-semibold uppercase tracking-wide transition-all duration-300"
      [ngClass]="{
				'text-[#E30512] bg-white ': activeTab === 'listado',
				'text-[#243659] hover:text-[#E30512] bg-gray-100': activeTab !== 'listado'
			}">
      <i class="pi pi-folder-plus text-[15px]"></i>
      Listado
      <span class="absolute bottom-0 left-0 w-full h-1 bg-[#E30512] rounded-t" *ngIf="activeTab === 'listado'"></span>
    </button>

    <!-- Tab: Gestión -->
    <button (click)="cambiarTab('gestion')"
      class="group relative flex flex-1 justify-center items-center gap-2 px-4 py-3 text-[14px] font-semibold uppercase tracking-wide transition-all duration-300"
      [ngClass]="{
				'text-[#E30512] bg-white': activeTab === 'gestion',
				'text-[#243659] hover:text-[#E30512] bg-gray-100': activeTab !== 'gestion'
			}">
      <i class="pi pi-check-square text-[14px]"></i>
      Gestión
      <span class="absolute bottom-0 left-0 w-full h-1 bg-[#E30512] rounded-t" *ngIf="activeTab === 'gestion'"></span>
    </button>

    <!-- Tab: Historial -->
    <button (click)="cambiarTab('historial')"
      class="group relative flex flex-1 justify-center items-center gap-2 px-4 py-3 text-[14px] font-semibold uppercase tracking-wide transition-all duration-300"
      [ngClass]="{
				'text-[#E30512] bg-white': activeTab === 'historial',
				'text-[#243659] hover:text-[#E30512] bg-gray-100':activeTab !== 'historial'
			}">
      <i class="pi pi-list-check text-[15px]"></i>
      Historial
      <span class="absolute bottom-0 left-0 w-full h-1 bg-[#E30512] rounded-t" *ngIf="activeTab === 'historial'"></span>
    </button>
  </div>

  <!-- Contenido del tab -->
  <div class="p-6 space-y-6">
    <!-- Registro -->
    <app-registro *ngIf="activeTab === 'registro'" />
    <!-- Listado -->
    <app-listado *ngIf="activeTab === 'listado'" />
    <!-- Gestión -->
    <app-gestion *ngIf="activeTab === 'gestion'" />
    <!-- Historial -->
    <app-historial *ngIf="activeTab === 'historial'" />
  </div>
</div>