<!-- Componente de Listado -->
<div class="w-full mx-auto">
  <header class="bg-gradient-to-r from-blue-100 to-blue-50 px-10 py-6 border-solid border-0 border-b border-gray-200">
    <h2 class="text-2xl font-bold text-[#1a2a47] flex items-center">
      <i class="pi pi-exclamation-circle mr-3 text-xl text-red-500" aria-hidden="true"></i>
      Listado de Servicios No Conformes
    </h2>
    <p class="text-gray-600 text-sm mt-2">
      Visualice todos los servicios no conformes registrados
    </p>
  </header>

  <!-- ticket-list.component.html -->
  <div class="p-5">
    <p-table [value]="ticketsFiltrados" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]" [responsive]="true" styleClass="p-datatable-sm" [rowHover]="true"
      responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr class="bg-gray-300 text-gray-700 uppercase text-md font-semibold">
          <th class="text-center p-3">ID</th>
          <th class="text-center p-3">Fecha</th>
          <th class="text-center p-3">Área Destino</th>
          <th class="text-center p-3">Categoría</th>
          <th class="text-center p-3">Prioridad</th>
          <th class="text-center p-3">Estado</th>
          <th class="text-center p-3">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticket>
        <tr class="text-gray-700">
          <td class="text-center w-[8%]">{{ ticket.id}}</td>
          <td class="text-center w-[12%]">{{ ticket.fecha }}</td>
          <td class="w-[25%]">{{ ticket.areaDestino }}</td>
          <td class="w-[20%]">{{ ticket.categoria }}</td>
          <td class="text-center w-[12%]">
            <span [ngClass]="{
                              'bg-red-200 text-red-600': ticket.prioridad === 'Alta',
                              'bg-yellow-100 text-yellow-600': ticket.prioridad === 'Media',
                              'bg-green-100 text-green-600': ticket.prioridad === 'Baja'
                          }" class="px-3 py-1 rounded-full text-md font-medium">
              {{ ticket.prioridad }}
            </span>
          </td>
          <td class="text-center w-[8%]">
            <span [ngClass]="{
                              'text-yellow-600 bg-yellow-100': ticket.estado === 'Pendiente',
                              'text-blue-600 bg-blue-100': ticket.estado === 'En Revisión',
                              'text-green-600 bg-green-100': ticket.estado === 'Cerrado',
                              'text-purple-600 bg-purple-100': ticket.estado === 'Derivado'
                          }" class="px-2 py-1 rounded text-md font-medium">
              {{ ticket.estado }}
            </span>
          </td>
          <td class="flex justify-center space-x-2">
            <p-button icon="pi pi-eye" severity="info" (click)="verDetalles(ticket)">
            </p-button>
            <p-button icon="pi pi-pencil" severity="warn" (click)="editarTicket(ticket)">
            </p-button>
            <p-button icon="pi pi-trash" severity="danger" (click)="confirmarEliminarTicket(ticket)">
            </p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7" class="text-center text-lg text-gray-500 py-6">
            No se encontraron tickets con los criterios de búsqueda actuales.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Modal para Ver Ticket -->
<app-ver-ticket [visible]="modalVisible" [ticket]="selectedTicket" (btnCerrar)="closeModal()">
</app-ver-ticket>

<!-- Modal para Editar Ticket -->
<app-editar-ticket [visible]="modalEdicionVisible" [ticket]="ticketEnEdicion" (btnCerrar)="closeModalEdicion()"
  (btnGuardar)="guardarCambios($event)">
</app-editar-ticket>

<!-- Modal para Eliminar Ticket -->
<app-eliminar-ticket [visible]="modalEliminacionVisible" [ticket]="ticketAEliminar"
  (btnCerrar)="closeModalEliminacion()" (btnConfirmar)="eliminarTicket($event)">
</app-eliminar-ticket>