<!-- Componente de Historial -->
<div class="w-full mx-auto">
  <header class="bg-gradient-to-r from-blue-100 to-blue-50 px-10 py-6 border-solid border-0 border-b border-gray-200">
    <h2 class="text-2xl font-bold text-[#1a2a47] flex items-center">
      <i class="pi pi-history mr-3 text-xl text-red-500" aria-hidden="true"></i>
      Historial de Servicios no Conformes
    </h2>
    <p class="text-gray-600 text-sm mt-2">
      Consulte el historial completo de los servicios no conformes gestionados.
    </p>
  </header>

  <!--  -->
  <div class="p-5">

  </div>
</div>